extends layout

block content
  h1 This is the secret page.
  p You have to be authorized to see it.
  p
    b Authorized card #{data.uid} is present.
  p These cards are authorized to view this page:
  ul
    each val in authorizedUIDs
      li= val
  p
    a(href="/") Go home
